<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="../../assets/css/common.css" />
    <link rel="stylesheet" href="../../assets/dep/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../assets/scss/channel_manage.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/dep/bootstrap-dialog/css/bootstrap-dialog.min.css"/>
	<style type="text/css">
		.logo{
			top: 2%;
			left: 5%;
			width: 10%;
		}
		.logo_text{
			top: 3.5%;
			left: 15%;
			width: 30%;
		}
		.title{
			width: 100%;
			position: absolute;
			top: 7%;
			left: 0;
			color: white;
			font-size: 2.2rem;
			text-align: center;
		}
	</style>
</head>
<body class="channel_setting">
    <img class="img_bg" src="../../assets/img/bg.jpg"/>
	<div class="logo">
		<img src="../../assets/img/31111.png" >
	</div>
	<div class="logo_text">
		<img src="../../assets/img/1113.png" >
	</div>
	<h3 class="title">企业效能管理云应用渠道管理</h3>
	<div class="form_filter">
		<div class="form-group">
		  <label for="company_name" class="col-sm-3 control-label">选择用户名称:</label>
		  <div class="col-sm-7">
			  <select class="form-control">
			  	<option value ="1">1</option>
			  </select>
		  </div>
		</div>
	</div>
	<div class="addChannel">
		<button type="button" data-toggle="modal" data-target="#myModal">用户新增</button>
	</div>
	<div class="data_table">
		<table>
			<thead>
				<th>用户名称</th>
				<th>管理设置</th>
			</thead>
			<tbody class="data_tbody">
				
			</tbody>
		</table>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel" style="color: #000;">用户新增</h4>
		  </div>
		  <div class="modal-body">
			<div class="form-group">
			  <label for="name" class="col-sm-3 control-label">用户名称:</label>
			  <div class="col-sm-7">
				  <input type="text" class="form-control" placeholder="请输入用户名称">
			  </div>
			</div>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			<button type="button" class="btn btn-primary">保存</button>
		  </div>
		</div>
	  </div>
	</div>
</body>
<script type="text/javascript" src="../../assets/js/jquery.min.js"></script>
<script src="../../assets/dep/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	 $(function () {
		 //增加空tr
		 function mapTR(){
			var str = '';
			for (var i=0;i<14;i++) {
				str += '<tr><td></td><td></td></tr>'
			} 
			$('.data_tbody').html(str)
		 }
		 mapTR()
		 
	 })
</script>
</html>