<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="../static/css/common.css" />
    <link rel="stylesheet" href="../static/dep/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/scss/channel_manage.css" />
	<style type="text/css">
		.logo{
			top: 2%;
			left: 5%;
			width: 10%;
		}
		.logo_text{
			top: 3.5%;
			left: 15%;
			width: 30%;
		}
		.title{
			width: 100%;
			position: absolute;
			top: 7%;
			left: 0;
			color: white;
			font-size: 2.2rem;
			text-align: center;
		}
	</style>
</head>
<body class="channel_single">
    <img class="img_bg" src="../static/img/bg.jpg"/>
	<div class="logo">
		<img src="../static/img/31111.png" >
	</div>
	<div class="logo_text">
		<img src="../static/img/1113.png" >
	</div>
	<h3 class="title">企业效能管理云应用渠道管理</h3>
	<div class="table_title">合作机构名称：</div>
	<div class="form_filter">
		<div class="form-group">
		  <label for="username" class="col-sm-3 control-label">选择数据查询区间:</label>
		  <div class="col-sm-7 date">
			  <select class="form-control">
			  	<option value ="1">1</option>
			  </select>
			  <span>至</span>
			  <select class="form-control">
			  	<option value ="1">1</option>
			  </select>
		  </div>
		</div>
	</div>
	<div class="data_table">
		<table>
			<thead>
				<th>企业名称</th>
				<th>填表日期</th>
				<th>租赁支付日期</th>
			</thead>
			<tbody class="data_tbody">
				
			</tbody>
		</table>
	</div>
	<div class="sum_num">
		填表用户合计数：<span></span>
		支付用户合计数：<span></span>
	</div>
</div>
</body>
<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript">
	 $(function () {
		 //增加空tr
		 function mapTR(){
			var str = '';
			for (var i=0;i<12;i++) {
				str += '<tr><td></td><td></td><td></td></tr>'
			} 
			$('.data_tbody').html(str)
		 }
		 mapTR()
		 
	 })
</script>
</html>