<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="../assets/css/common.css" />
    <link rel="stylesheet" href="../assets/css/info.css" />
    <link rel="stylesheet" href="../assets/dep/bootstrap/css/bootstrap.min.css" />
    <style type="text/css">

        


    </style>
</head>
<body>
    <img class="img_bg" src="../assets/img/bg.jpg"/>
	<div class="logo">
		<img src="../assets/img/31111.png" >
	</div>
	<div class="logo_text">
		<img src="../assets/img/1113.png" >
	</div>
	<div class="back">
		<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
		返回首页
	</div>
	<div class="logo_title">
		<h3>企业效能管理智慧云应用介绍</h3>
	</div>
	<div class="info_text">
		<p>
			帮助企业解决人岗匹配、绩效管理、过程管理等需求，帮助企业准确识别团队风险。是CEO的管理助手，HR的支撑工具。
		</p>
		<p class="title">产品亮点：</p>
		<ul>
			<li><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>智能机器人提供各个岗位符合所在行业需求的胜任力指标，帮助企业提高招聘效率，降低招聘及人员试用成本;</li>
			<li><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>机器人全智能自动输出符合本行业的KPI绩效指标，明确团队、个人的共同工作方向和目标，提高团队力量凝聚力，提升企业整体绩效;</li>
			<li><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>机器人自动识别团队风险，实现团队风格预测以及团队风险预控，有效规避管理风险，降低管理成本;</li>
			<li><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>智能机器人及时反馈员工工作状态，对员工的关注更有针对性，降低员工的离职率;</li>
			<li><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>员工日常工作全掌握，智能交互的分析结果，满足业务管理需要并配合绩效管理，大幅提升企业业绩。</li>
		</ul>
		<div class="jietu">
			<img src="../assets/img/微信截图_20191219131932.png" alt="">
		</div>
		<p class="title">应用效果：</p>
		<ul>
			<li><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>品牌零售连锁企业;</li>
		</ul>
		<p style="margin-bottom: 0;">
			精准、便捷的评估工具，智能机器人提供各个岗位符合所在
		</p>
	</div>
</div>
</body>
<script type="text/javascript" src="assets/js/jquery.min.js"></script>
<script src="../assets/dep/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
</html>